---
layout: layouts/index.njk
body_en: ...
body_de: ...
mail: ...
instagram: ...
website: ...
imprint: ...
logos: ... 
---

<p>En</p>

<p>{{ body_en | markdown | safe }}</p>

<p>De</p>

<p>{{ body_de | markdown | safe }}</p>