// import files
// @import "node_modules/@glidejs/glide/src/assets/sass/glide.core"

// variables
$font-stack: serif
$primary-color: #ff0000
$bg-color: #fff

// styles
body
	font: 18px $font-stack
	color: $primary-color
	background-color: $bg-color

// swup
.transition-fade
	transition: 0.4s
	opacity: 1

html.is-animating .transition-fade
	opacity: 0