* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 20px;
    line-height: 1.4em;
    font-weight: bold;
    color: red;
    background: radial-gradient(closest-side, rgba(230,0,0,1), white, rgba(230,0,0,1), white, rgba(230,0,0,1), white, rgba(230,0,0,1));
    background: -webkit-radial-gradient(closest-side, rgba(230,0,0,1), white, rgba(230,0,0,1), white, rgba(230,0,0,1), white, rgba(230,0,0,1));
}

@media (min-width: 500px) {
    body {
        font-size: 3vw;
    }
}

@media (min-width: 1400px) {
    body {
        font-size: 40px;
    }
}

h1, h2 {
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
}

.save-the-date {
    padding: 1em;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

.save-the-date span, 
.save-the-date h1, 
.save-the-date h2, 
.save-the-date input, 
#mce-success-response,
#mce-error-response,
#mc_embed_signup div.mce_inline_error
{
    display: inline;
    background-color: white;
    padding: .2em;
}

#mc_embed_signup div.mce_inline_error {
    margin-bottom: 0;
    color: red!important;
    background: white!important;
}

input {
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    border: none;
    color: inherit;
    text-align: center;
    border-radius: 0;
}

input[type="submit"] {
    cursor: pointer;
    background-color: white;
}

::placeholder {
    color: red;
    opacity: .5;
}

.input-sizer {
    display: inline-grid;
    vertical-align: top;
    align-items: center;
    position: relative;
}

.input-sizer::after,
input,
textarea {
    width: auto;
    min-width: 1em;
    grid-area: 1 / 2;
    font: inherit;
    resize: none;
    background: none;
    appearance: none;
    border: none;
}

.input-sizer::after {
    content: attr(data-value) ' ';
    visibility: hidden;
    white-space: pre-wrap;
}

a {
    color: inherit;
}

a:hover {
    background: red;
}

.two, .three {
    font-size: .7em;
    line-height: 1.4em;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 5rem;
}