// import files
// @import "node_modules/@glidejs/glide/src/assets/sass/glide.core"

@font-face
	font-family: 'Times Newer Roman'
	src:url("/assets/fonts/fonts/TimesNewerRoman-Regular")

// variables
$font-stack: "Times Newer Roman", "Times New Roman", serif
$primary-color: #ff0000
$bg-color: #111

// styles
body
	font: 38px $font-stack
	color: $primary-color
	background-color: $bg-color
	text-align: center

a 
	color: $primary-color

// swup
.transition-fade
	transition: 0.4s
	opacity: 1

html.is-animating .transition-fade
	opacity: 0